<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pokemones.pokemonbuilder">

    <!-- Permisos -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Declaración de hardware requerido (la app necesita cámara y micrófono) -->
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.microphone" android:required="true" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PokemonMinimal">

        <!-- Activity principal (pantalla de login) -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Otras activities de la app -->
        <activity android:name=".ui.RegisterActivity" android:exported="false" />
        <activity android:name=".ui.MainMenuActivity" android:exported="false" />
        <activity android:name=".ui.TeamsActivity" android:exported="false" />
        <activity android:name=".ui.EditTeamActivity" android:exported="false" />
        <activity android:name=".ui.PokedexActivity" android:exported="false" />
        <activity android:name=".ui.SortByGenerationActivity" android:exported="false" />
        <activity android:name=".ui.SortByTypeActivity" android:exported="false" />
        <activity android:name=".ui.EditPokemonActivity" android:exported="false" />
        <activity android:name=".ui.MoveSelectionActivity" android:exported="false" />

    </application>
</manifest>
